/* Stile für den Kalender */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Raleway', 'Lato', 'Helvetica', 'Arial', sans-serif;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

th {
    background-color: rgb(239, 134, 89);
}

/* Füge hier deine weiteren CSS-Stile hinzu */
