/* FARBEN:
Orange: rgb(239, 134, 89);
Schwarz: rgb(0, 0, 0);
Weiß: rgb(255, 255, 255);
*/

/*GLOBAL (settings)*/

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

/*Clearfix "Hack"*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* === Navigationsleiste === */

.header-nav {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.header-nav  a > img { /*Nachfahrenelement*/
    height: 100px;
    width: auto;
    float: left;
    margin: 0.01rem;
}

.header-nav ul {
    margin: 0;
    padding: 0%;
    float: right;
    font-size: large; /*Schrift größer*/
    font-weight: bold; /*Schrift dicker*/
    height: 100%;
}

.header-nav ul > li { /*Nachfahrenelement*/
    display: inline-block;
    margin-right: .5rem; /*Abstände zwischen den Reitern*/
    height: 100%;
    padding: 0 .2rem 0 .2rem /*Padding: oben rechts unten links*/
}

.header-nav ul > li > a {
    margin-top: 2.5rem;
    display: inline-block; /*Block, weil danker Inline-Elemente sind und man sonst nicht stylen kann*/
}



/* 4 verschiedene Status von den Reitern (link, hover, active, visited) */

.header-nav ul > li > a {
    color: #ffffff; /* Weiß für alle Zustände */
    text-decoration: none;
}

.header-nav ul > li > a:hover {
    color: rgb(239, 134, 89);
    /* Oranger Hover-Effekt */
}

.header-nav .col-6 {
    padding-top: 0%;
    padding-bottom: 0%;
}

.header-nav .container,
.header-nav .row,
.header-nav .col-6 {
height: 100%;
}

.header-nav ul > li > a:active {
    color: rgb(255, 255, 255);
    /* Keine Änderung beim Aktiv-Effekt */
}





/*Navigationsleiste für mobile Geräte*/

.mobile-nav-button {
    color: #ffffff;
    float: right;
    font-size: 2.5rem;
    border: 2px solid #ffffff;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 2rem;
    margin-right: 6rem;
}

.mobile-nav-button > span {
    position: absolute;
    bottom: -7px;
    left: 3.5px;
}

/*Dropdown Sichtbarkeit*/
.mobile-nav-content > ul > li {
    display: block;
    background-color: rgb(14, 14, 14);
    height: 70px; /*Abstand zwischen Reitern*/
    padding: 0 3.8rem; 
    text-align: center; /*Reiter zentriert*/
}

.mobile-nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 70px;
    display: none;
}

.mobile-nav-dropdown:hover > .mobile-nav-content { /*Dropdown nach hover*/
    display: block;
}

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

.active {
    background-color: rgb(239, 134, 89) !important; 
} /*Reiter der aktiv ist wird gefärbt*/


/*HEADER-BANNER*/

.header-banner {
    width: 100%;
    height: 0;
    padding-top: 20%; /*erzeugt höhe in Abhängigkeit zur Breite //Rechnung: 366:1920*100=19.06*/
    background: url("../img/BannerFinal.png") no-repeat center center; /*.. = eine Ebene nach oben und c c für Banner mittig*/
    background-size: contain; /*automatisch Änderung der Bannergröße*/
}



/* GRID-SYSTEM (Sichtbarkeit)

.border, .border * {
    border: 1px solid orange
}

[class *='col-'] {
    background-color: red
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    background-color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
*/




/* GRID-SYSTEM*/

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto; /*Container von links und rechts zentriert*/
}

.row::after { /*sogenannter "clearfix hack" damit die rows nicht floaten*/
    content: "";
    clear: both;
    display: block;
}

[class *='col-'] {
    float: left;
    min-height: 1px;
    height: 100px;
    padding: .8rem; /*col´s-Inhalt auseinadner*/
}

.col-1 { width: 16.666%; }

.col-2 { width: 33.333%; }

.col-3 { width: 50%;     }

.col-6 { width: 100%;    }

/*
===BREAKPOINT FÜR ENDGERÄTE===
320px iPhone
480px iPhone Querformat
768px iPad
1024px iPad Querformat
1200px Latop
>1200px größere Endgeräte

*/

@media (max-width: 1024px) {

    .col-1 { width: 33.333%; }

}

@media (max-width: 768px) {

    .col-1 { width: 50%;  }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }  
}

@media (max-width: 488px) {

    .col-1 { width: 100%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

}



/* Startseite */
.startseite h2 {
    font-size: 28px;
    margin-left: 40px;
    padding: 10px; /* Innenabstand für den Rahmen */
}

.startseite p {
    font-weight: bold;
    line-height: 1.6;
    margin-left: 40px;
    padding: 10px; /* Innenabstand für den Rahmen */
}

.startseite img {
    width: 30%; /* Breite anpassen */
    margin: 0 1%; /* Kleiner Abstand zwischen den Bildern hinzufügen */
    display: inline-block; /* Bilder in Reihe */
    margin-left: 40px;
    border: 1px solid #000; /* Rahmen hinzufügen - Farbe kann nach Bedarf angepasst werden */
    padding: 10px; /* Innenabstand für den Rahmen */
}










/*AboutUs*/ /*Jan*/
.about-us-content {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.about-us-content h2 {
    color: #000000; /* Überschriftsfarbe */
    font-size: 28px;
    margin-bottom: 15px;
}

.about-us-content p {
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-us-content a {
    color: rgb(239, 134, 89); /* Orange Linkfarbe, kann nach Wunsch angepasst werden */
    text-decoration: none;
    font-weight: bold;
}

.about-us-content a:hover {
    text-decoration: underline; /* Unterstrich beim Überfahren mit der Maus */
}

/*Bilder von AboutUs*/
.about-us-content img {
    width: 30%; /* Breite anpassen */
    margin: 0 1%; /*kleinen Abstand zwischen den Bildern hinzu */
    display: inline-block; /* Bilder in Reihe */
    border: 1px solid #000;
    padding: 10px; /* Innenabstand für den Rahmen */
}


.about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Umbruch, falls der Platz nicht ausreicht */
}









/*--King of the Court--*/ /*Jan*/
.king-of-the-court-content {
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0); /*Kasten*/
}

/*Bild King of the Court*/
.king-of-the-court-content img {
    width: 30%; /* Du kannst die Breite nach Bedarf anpassen */
    margin: 0 auto; /* Zentriere das Bild horizontal */
    display: block; /* Stelle sicher, dass das Bild allein in einer Zeile steht */
}

/* King of the Court Content */
.king-of-the-court-content {
    text-align: center; /* Zentriere den Text im Container */
}

/*Countdown King of the Court*/
#countdown {
    text-align: center; /* Zentriere den Text im Container */
    font-size: 40px;
    margin-top: 10px;
}

#current-winner {
    text-align: center; /* Zentriert den Text */
    font-size: 40px; /*Schriftgröße*/
    color: rgb(239, 134, 89);
    font-weight: bold;
}

/* Aktueller Gewinner */
#current-winner {
    color: rgb(239, 134, 89);
    font-weight: bold;
    font-size: 24px; /* Du kannst die Schriftgröße nach Bedarf anpassen */
    display: block; /* Setze auf 'block', um die neue Zeile zu erzwingen */
    margin: 10px 0; /* Füge oben und unten einen Abstand hinzu */
}

/* Text "Aktueller Gewinner" */
.kotc-heading {
    font-size: 24px; /* Du kannst die Schriftgröße nach Bedarf anpassen */
    font-weight: bold;
    margin-bottom: 10px; /* Füge unten einen Abstand hinzu */
}













/*IMPRESSUM*/ /*Andreas*/

#impressum a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

