/* FARBEN:
Orange: rgb(239, 134, 89);
Schwarz: rgb(0, 0, 0);
Weiß: rgb(255, 255, 255);
*/

/*GLOBAL (settings)*/

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

/*GENERELLES*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Navigationsleiste */

.header-nav {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.header-nav  a > img { /*Nachfahrenelement*/
    height: 100px;
    width: auto;
    float: left;
    margin: 0.01rem;
}

.header-nav ul {
    margin: 0;
    padding: 0%;
    float: right;
    font-size: large; /*Schrift größer*/
    font-weight: bold; /*Schrift dicker*/
    height: 100%;
}

.header-nav ul > li { /*Nachfahrenelement*/
    display: inline-block;
    margin-right: .5rem; /*Abstände zwischen den Reitern*/
    height: 100%;
    padding: 0 .2rem 0 .2rem /*Padding: oben rechts unten links*/
}

.header-nav ul > li > a {
    margin-top: 2.5rem;
    display: inline-block; /*Block, weil danker Inline-Elemente sind und man sonst nicht stylen kann*/
}



/* 4 verschiedene Status von den Reitern (link, hover, active, visited) */

.header-nav ul > li > a {
    color: #ffffff; /* Weiß für alle Zustände */
    text-decoration: none;
}

.header-nav ul > li > a:hover {
    color: rgb(239, 134, 89);
    /* Grüner Hover-Effekt */
}

.header-nav .col-6 {
    padding-top: 0%;
    padding-bottom: 0%;
}

.header-nav .container,
.header-nav .row,
.header-nav .col-6 {
height: 100%;
}

.header-nav ul > li > a:active {
    color: rgb(255, 255, 255);
    /* Keine Änderung beim Aktiv-Effekt */
}

.active {
    background-color: rgb(239, 134, 89);
} /*Reiter der aktiv ist wird gefärbt*/

/*Navigationsleiste für mobile Geräte*/

.mobile-nav-button {
    color: #ffffff;
    float: right;
    font-size: 2.5rem;
    border: 2px solid #ffffff;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 2rem;
}

.mobile-nav-button > span {
    position: absolute;
    bottom: -7px;
    left: 3px;
}

.mobile-nav-content > ul >li {
    display: block;
    background-color: rgb(49, 47, 52);
    height: 70px;
    padding: 0 1.2rem;
    text-align: center;
}

.mobile-nav-dropdown {
    position: relative;
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 70px;
}


/*HEADER-BANNER*/

.header-banner {
    width: 100%;
    height: 0;
    padding-top: 20%; /*erzeugt höhe in Abhängigkeit zur Breite //Rechnung: 366:1920*100=19.06*/
    background: url("../img/BannerFinal.png") no-repeat center center; /*.. = eine Ebene nach oben und c c für Banner mittig*/
    background-size: contain; /*automatisch Änderung der Bannergröße*/
}



/* GRID-SYSTEM (Sichtbarkeit)

.border, .border * {
    border: 1px solid orange
}

[class *='col-'] {
    background-color: red
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    background-color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
*/




/* GRID-SYSTEM*/

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto; /*Container von links und rechts zentriert*/
}

.row::after { /*sogenannter "clearfix hack" damit die rows nicht floaten*/
    content: "";
    clear: both;
    display: block;
}

[class *='col-'] {
    float: left;
    min-height: 1px;
    height: 100px;
    padding: .8rem; /*col´s-Inhalt auseinadner*/
}

.col-1 { width: 16.666%; }

.col-2 { width: 33.333%; }

.col-3 { width: 50%;     }

.col-6 { width: 100%;    }

/*
===BREAKPOINT FÜR ENDGERÄTE===
320px iPhone
480px iPhone Querformat
768px iPad
1024px iPad Querformat
1200px Latop
>1200px größere Endgeräte

*/

@media (max-width: 1024px) {

    .col-1 { width: 33.333%; }

}

@media (max-width: 768px) {

    .col-1 { width: 50%;  }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }  
}

@meida (max-width: 488px) {

    .col-1 { width: 100%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

}

/*IMPRESSUM*/ /*Andreas*/

#impressum a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-weight: bold;
}
